header {
	display: flex;
	flex-direction: column;
	align-items: center;


	nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
		.buttons-container {
			display: flex;
			align-items: center;

			.dropdown {
				position: relative;
			}

			.dropdown > button {
				color: var(--default-color);
				display: flex;
				align-items: center;
				gap: 15px;
				margin-right: clamp(1rem, 2.5vw, 3rem);
				padding: 0.6rem 2.5rem;
				border-right: 1px solid var(--vertical-line);
				font-size: var(--md);
				min-width: 145px;
				font-weight: 600;
			}
			.content {
				position: absolute;
				left: -3.6rem;
				top: 4.5rem;
				border-radius: 10px;
				min-width: 183px;
				padding: 1rem 0 2rem;
				background-color: var(--dropdown-background-color);
				box-shadow: 0 5px 16px 7px var(--dropdown-box-shadow);
			}
			.hide-content {
				display: none;
			}
			.content button {
				color: var(--dropdown-option-color);
				font-size: 1.8rem;
				padding: 1.5rem 5rem 0.4rem 2rem;
				width: 100%;
				text-align: left;
				transition: color 0.3s;
			}
			.content button:hover {
				color: var(--dropdonw-hover-color);
			}
			.content li{
				list-style: none;
			}

			.theme-button {
				display: flex;
				align-items: center;
				justify-content: space-between;
				min-width: 82px;

				button {
					height: 20px;
					width: 40px;
					border-radius: 10px;
					position: relative;
					background-color: var(--switch-theme);
					transition: background-color 0.3s;
				}
				svg {
					stroke: var(--switch-theme);
				}
				button:hover {
					background-color: var(--purple-primary);
				}
				.circle-btn-element {
					content: '';
					position: absolute;
					right: 4px;
					top: 50%;
					transform: translateY(-50%);
					background-color: #fff;
					height: 14px;
					width: 14px;
					border-radius: 50%;
					transition: right 0.5s;
				}
				.dark-mode-off {
					right: 22px;
				}
			}
		}
	}
}

@import './input';
